.App {
  flex: 1 0 calc(100vw - 200px);
}

.demo {
  display: flex;
  flex-direction: column;
}

.stats {
  flex: 0 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 320px;
}

@media screen and (min-width: 480px) {
  .App {
    height: 100vh;
    width: auto;
  }
  .demo {
    flex-direction: row;
    text-align: center;
  }
}
